{% extends 'template.html' %}

{% block title%}
Вопросы по ивенту тест
{% endblock %}

{% block body%}
<div class="container">
    <h1>Отчет</h1>
    <div class="block2">
        <div class="info">
            <h2 class="name">{{ view.name }} </h2>
            <h2 class="date">{{ view.date_start }} - {{ view.date_end }}</h2>
            <h2 class="link">{{ view.link }}</h2>     
        </div>      
    </div> 
    <h1>Вопросы по ивенту тест</h1>
    <div class="questions_and_grades">
        <div class="questions">
            <div class="info3">Список вопросов</div>
        {% for el in qq %}
            <div class="info_column">
                <h2>{{ el.1.id }}. {{ el.1.text }}</h2>
            </div>  
        {% endfor %}
        </div>
        <div class="grades">
            <div class="info3">Средняя оценка</div>
        {% for el in arr %}
            <div class="info_column2">
                <h2>{{ el }}</h2>
            </div>  
        {% endfor %}
        </div>
    </div>
    <div class="info3">
        <div class="info_q_q">Вопрос</div>
        <div class="info_g_g">Оценка</div>
        <div class="info_c_c">
            Комментарий
        </div>
    </div>
    {% for el in res %}
        <div class="info2">
            <div class="info_q">
                <h2>{{ el.0.questions_id }}</h2> 
            </div>
            <div class="info_g">
                <h2>{{el.0.grade}}</h2> 
            </div> 
            <div class="info_c">
                <h2>{{el.0.comment}}</h2> 
            </div>
        </div>        
    {% endfor %} 

</div>    
{% endblock %}