{% extends 'template.html' %}

{% block title%}
Помощь
{% endblock %}

{% block body%}
<div class="container">
    <div class="help">
        <h2>Меню</h2>
        <q>Главная</q> вернёт вас на главную страницу. <br>
        <q>Добавить</q> не предназначена для пользователя(при нажатии система попросит авторизоваться). <br>
        <q>Помощь</q> открывает текущую страницу, где можно ознакомиться со справочной информацией. <br>
        <q>Войти</q> не предназначена для пользователя(при нажатии система попросит авторизоваться).

        <h2>Главная страница</h2>
        <div class="imgH"><img src="../static/css/img/index.png" height="300"/></div>
        На главной странице можно увидеть все мероприятия(текущие, будущие и прошедшие). <br>
        У каждого мероприятия указаны даты преведения и ссылка на анкету. <br>
        <img src="../static/css/img/img_79951.png" height="20"> не предназначена для пользователя(при нажатии система попросит авторизоваться). <br>
        При нажатии на <img src="../static/css/img/Statistics-Transparent.png" height="20"> можно увидеть отчёт
            по мероприятию, если оно активно или прошло. <br>
        При нажатии на <img src="../static/css/img/img_377300.png" height="20"> можно будет увидеть QR-код мероприятия. <br>
        
        <h2>Прохождение анкеты</h2>
        <div class="imgH"><img src="../static/css/img/form.png" height="300"></div>
        В анкете укзаны вопросы, которые позволят узнать мнение мероприятии. <br>
        Ответом на вопрос будет одно число от 1 до 5. <br>
        При ответах <q>1</q> и <q>2</q> появиться поле для письменного ответа, в котором 
            пользователь может более точно описать свой ответ на вопрос.

        <h2>Отчёт</h2>
        В отчёте по мероприятию можно увидеть список вопросов, которые были в анкете, а также среднуюю оценку по каждому вопросу.
        <div class="imgH"><img src="../static/css/img/report.png" height="300"></div>
    </div>
</div>
{% endblock %}