{% extends 'template.html' %}

{% block title%}
Помощь
{% endblock %}

{% block body%}
<div class="container">
    <div class="help">
        <h2>Меню</h2>
        <q>Главная</q> вернёт вас на главную страницу. <br>
        <q>Добавить</q> открывает страницу, где можно создать новое мероприятие. <br>
        <q>Помощь</q> открывает текущую страницу, где можно ознакомиться со справочной информацией. <br>
        <q>Войти</q> позволит войти в систему под учёткой админа. <br>

        <h2>Главная страница</h2>
        <div class="imgH"><img src="../static/css/img/index.png" height="300"/></div>
        На главной странице можно увидеть все мероприятия(текущие, будущие и прошедшие). <br>
        При нажатии на <img src="../static/css/img/img_79951.png" height="20"> можно отредактировать мероприятие. <br>
        При нажатии на <img src="../static/css/img/Statistics-Transparent.png" height="20"> можно увидеть отчёт
            по мероприятию, если оно активно или прошло. <br>
        При нажатии на <img src="../static/css/img/img_377300.png" height="20"> можно будет увидеть QR-код мероприятия. <br>
        
        <h2>Отчёт</h2>
        В отчёте по мероприятию можно увидеть список вопросов, которые были в анкете, а также среднуюю оценку по каждому вопросу.
        <div class="imgH"><img src="../static/css/img/report.png" height="300"></div>
        Для более подробного отчёта необходимо в адресную строку добавить <q>.../r</q> (будет открыта страница с подробным отчётом).
        <div class="imgH"><img src="../static/css/img/repUp.png" height="50"></div>
        <div class="imgH"><img src="../static/css/img/report2.png" height="300"></div>

        <h2>Содание анкеты для мероприятия</h2>
        Нажимаем на <q>Добавить</q> на главной странице. После нажатия откроется следующая страница:
        <div class="imgH"><img src="../static/css/img/creatIv.png" height="300"></div>
        1. Пишем название мероприятия <br>
        2. Вводим или выбираем дату начала анкетирования по мероприятию <br>
        3. Вводим или выбираем дату окончания анкатерования по мероприятию <br>
        4. Создаём ссылку на мероприятние <br>
        5. Нажимаем <q>Отправить</q> <br>
        Далее откроется главная страница и необходимо нажать на <img src="../static/css/img/img_79951.png" height="20">,
            в созданном мероприятии и откроется следующая страница:
        <div class="imgH"><img src="../static/css/img/upIv.png" height="300"></div>
        Нажимаем на <q>Добавить вопрос</q> и откроется страница:
        <div class="imgH"><img src="../static/css/img/creatQ.png" height="300"></div>
        Пишем вопрос, который хотим видеть в анкете. Повторяем добавление вопроса необходимое количество раз. 

        <h2>Редактирование мероприятия</h2>
        Для редактирования нужно нажать на <img src="../static/css/img/img_79951.png" height="20"> в интересующем вас мероприятии,
            откроется страница редактрования: 
            <div class="imgH"><img src="../static/css/img/upIv.png" height="300"></div>
        <q>Удалить</q> позваолит удалить мероприятие <br>
        <q>Изменить</q> позволит измениить мероприятие (откроется страница изменения мероприятия)
            <div class="imgH"><img src="../static/css/img/UpIv2.png" height="300"></div>
            Можно изменить название мероприятия, даты проведения и ссылку на мероприятие <br>
        <q>Добавить вопрос</q> позволит добавить вопрос (откроет страницу создания вопроса)
            <div class="imgH"><img src="../static/css/img/creatQ.png" height="300"></div>
        <q>Список вопросов</q> откроет страницу со списком вопросов из анкеты по мероприятию
            <div class="imgH"><img src="../static/css/img/listQ.png" height="300"></div>
            на этой странице можно изменить вопросы при нажатии на <img src="../static/css/img/img_79951.png" height="20">

        <h2>Регистрация и авторизация</h2>
        Чтобы авторизоваться или зарегестрироваться нужно на главной странице нажать <q>Войти</q> (откроется страница авторизация)
            <div class="imgH"><img src="../static/css/img/log.png" height="300"></div>
        Для авторизации нужно ввести логин и пароль и нажать <q>Login</q> <br>

        Для регестрации нужно нажать на <q>Register</q> (откроется страница регестрации)
            <div class="imgH"><img src="../static/css/img/reg.png" height="300"></div>
        Чтобы зарегестрироваться нужно ввести придуманный логин и пароль (пароль нужно ввести дважды для проверки верности ввода)
            и нажать на <q>Register</q>
    </div>
</div>
{% endblock %}