{% extends 'template.html' %}

{% block title%}
Вопросы по ивенту тест
{% endblock %}

{% block body%}

<script>
    let spans = document.querySelectorAll(".counter");

    for (let i = 0; i < spans.length; i++) {
        let span = spans[i];
        span.innerText = i + 1;
    }
</script>
    
<div class="container">
    <h1>Вопросы по ивенту тест</h1>
         <div class="info">
            {% for el in res %}
                <h2>{{ el.0.id }} {{ el.0.questions_id }} {{ el.0.event_id }}</h2>
                <h2>{{ el.1.text}}</h2>
                <form method="post">
                    <input type="hidden" name="event_id{{el.0.id}}" id="event_id" value="{{ el.0.event_id }} " class="form-control" ><br>
                    <input type="hidden" name="questions_id{{el.0.id}}" id="questions_id" value="{{ el.0.questions_id}}" class="form-control" ><br>
                    <input type="number" min="1" max="5" class="form-control" id="grade" name="grade{{el.0.id}}"/>
                    <input type="varchar(100)" name="comment{{el.0.id}}" id="comment" class="form-control" ><br>
            {% endfor %}
            <input type="submit" class="btn btn-success" value="Отправить">
        </form>
        <datalist id="gradeList">
            <option value="1" />
            <option value="2" />
            <option value="3" />
            <option value="4" />
            <option value="5" />
        </datalist>
        </div>  
</div>    
{% endblock %}